@import "tailwindcss";

:root {
  --font-body: var(--font-montserrat);
  --font-heading: var(--font-bebas);
}

body {
  font-family: var(--font-body), sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-heading), sans-serif;
}
