name: CI - Tests Only

on:
  push:
    branches: [ main, development ]
  pull_request:
    branches: [ main, development ]

jobs:
  quality-check:
    name: Lint & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v4
      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      
      - name: Instalar dependencias
        run: npm ci

      - name: Analizar código (Lint)
        run: npm run lint

      - name: Ejecutar pruebas
        run: npm test 

      - name: Construir el proyecto (Verificación)
        run: npm run build