name: CI - Pruebas y Verificaci贸n

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del c贸digo
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20' # Usar la versi贸n LTS de Node.js
          cache: 'npm'

      - name: Instalar dependencias
        run: npm ci

      - name: Analizar el c贸digo (Lint)
        run: npm run lint

      - name: Ejecutar pruebas (Tests)
        run: npx lint-staged

      - name: Construir el proyecto (Build)
        run: npm run build
